<div class="container-xxl mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="h2">Mídias</h2>
    <div>
      <button class="btn btn-primary" (click)="create()">Criar mídia</button>
    </div>
  </div>
  <div class="table-responsive mt-5 bg-primary p-3" *ngIf="!hide">
    <table class="table rounded">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Imagem</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Desejo</th>
          <th scope="col">Tem</th>
          <th scope="col">Finalizou</th>
          <th scope="col">Categoria</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" *ngIf="medias">
        <tr *ngFor="let media of medias">
          <th scope="row">{{ media.id }}</th>
          <td>
            <img [src]="media.image" alt="Media imagem">
          </td>
          <td>{{ media.name }}</td>
          <td class="col-4">{{ media.description }}</td>
          <td>{{ media.wish }}</td>
          <td>{{ media.have }}</td>
          <td>{{ media.finished }}</td>
          <td>{{ media.category }}</td>
          <td>
            <button class="btn btn-secondary me-3" (click)="edit(media)">Editar</button>
            <button class="btn btn-danger mt-2 mt-sm-0" (click)="deleteItem(media.id)">Apagar</button>
          </td>
        </tr>
    </table>
  </div>
  <div class="container-xxl mt-5" *ngIf="media && !editing">
    <div class="row justify-content-center">
      <h3 class="h3 text-center mb-4">Criando media</h3>
      <div class="main-form col-9 p-4 bg-primary rounded">
        <mat-form-field class="form-field">
          <input matInput placeholder="Nome da mídia" [(ngModel)]="media.name">
        </mat-form-field>
        <div class="mb-3">
          <label for="formFile" class="form-label">Insira a foto</label>
          <input class="form-control form-control-sm" id="formFile" type="file" accept=".png, .jpg, .jpeg"
            (change)="convertImage($event)">
        </div>
        <mat-form-field class="col-12" appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="media.category">
            <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Descrição</mat-label>
          <textarea matInput placeholder="O filme começou quando..." style="min-height: 200px;"
            [(ngModel)]="media.description"></textarea>
        </mat-form-field>
        <div class="d-flex justify-content-center justify-content-sm-end mt-3">
          <button class="btn btn-danger me-3" (click)="cancel()">Cancelar</button>
          <button class="btn btn-primary" (click)="store()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-xxl mt-5" *ngIf="media && editing">
    <div class="row justify-content-center">
      <h3 class="h3 text-center mb-4">Editando media</h3>
      <div class="main-form col-9 p-4 bg-primary rounded">
        <mat-form-field class="form-field">
          <input matInput placeholder="Nome da mídia" [(ngModel)]="media.name">
        </mat-form-field>
        <div class="mb-3">
          <label for="formFile" class="form-label">Insira a foto</label>
          <input class="form-control form-control-sm" id="formFile" type="file" accept=".png, .jpg, .jpeg"
            (change)="convertImage($event)">
        </div>
        <mat-form-field class="col-12" appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="media.category">
            <mat-option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Descrição</mat-label>
          <textarea matInput placeholder="O filme começou quando..." style="min-height: 200px;"
            [(ngModel)]="media.description"></textarea>
        </mat-form-field>
        <div class="d-flex justify-content-center justify-content-sm-end mt-3">
          <button class="btn btn-danger me-3" (click)="cancel()">Cancelar</button>
          <button class="btn btn-primary" (click)="store()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
