/* Background */
.bg-primary {
  background-color: #262626 !important;
}

/* BTN */
.btn {
  transition: all .25s ease-in;
}

.btn-primary {
  background-color: #1fab89;
  border: 1px solid #1fab89;
}

.btn-primary:hover {
  background-color: #007b5c;
  border: 1px solid #007b5c;
}

.btn-primary:active {
  background-color: #60ddb9;
  border: 1px solid #60ddb9;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(31, 171, 137, .25) !important;
}

.table {
  color: #fff !important;
  background-color: #262626;
}

/* Create */

.main-form {
  color: #fff !important;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field {
  width: 100%;
}
