<div class="overflow-hidden" id="main-banner"
  [style.background-image]="'url(assets/feedback-results-information-satisfeaction.jpg)'">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-flex flex-column" id="banner-heading">
      <span>Encontre. Avalie.</span>
      <h2>Deixe sua marca</h2>
    </div>
    <p>Avalie uma diversidade de categorias e compartilhe seu comentários com a
      comunidade.</p>
    <a class="btn btn-primary">Avaliar categorias</a>
  </div>
</div>
<p>index</p>
