<section class="mb-5" id="main-banner"
  [style.background-image]="'url(assets/feedback-results-information-satisfeaction.jpg)'">
  <div class="position-absolute top-50 start-50 translate-middle" id="banner-text">
    <div class="d-flex flex-column">
      <span class="h4">Encontre. Avalie.</span>
      <h2 class="display-5">Deixe sua marca</h2>
    </div>
    <p class="mb-4">Avalie uma diversidade de mídias e compartilhe seu comentários com a comunidade.</p>
    <a class="btn btn-primary">Avaliar mídias</a>
  </div>
</section>
<section class="bg-primary text-white py-4 mb-5">
  <div class="container-xxl">
    <h2 class="h2 mb-4 text-center">Descubra o seu proximo filme favorito</h2>
    <div class="row justify-content-center align-items-start">
      <div class="col-12 col-sm-5">
        <img src="assets/man-gb2714d04f_1280.jpg" class="img-fluid rounded" alt="descrubra seu filme">
      </div>
      <div class="col-12 col-sm-5">
        <p>Ao criar sua conta você pode interagir com a comunidade e ganha diversas vantagens como:</p>
        <ul class="text-start">
          <li>Avaliar diversas mídias</li>
          <li>Comentar em diversas em mídias</li>
          <li>Adicionar mídias em "desejo", "tenho" e "terminei"</li>
          <li>e Personalizar seu perfil</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container-xxl">
    <h2 class="h2 text-center mb-4">Mídias mais avaliadas da semana</h2>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-outline-primary me-2">Filmes</button>
      <button type="button" class="btn btn-outline-primary me-2">Series</button>
      <button type="button" class="btn btn-outline-primary">Animes</button>
    </div>
  </div>
</section>
